<!DOCTYPE html>
<html>
<head>
	<title>CauseCode - W3.CSS</title>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="http://localhost/CauseCode/CauseCode.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>

</head>
<body>


	<nav class="w3-sidenav w3-theme" style="width:100px">
 <a class="w3-padding w3-hover-black w3-tiny w3-center" href="http://localhost/CauseCode/CRM.html"><i class="material-icons w3-xxlarge w3-text-white w3-center">group</i><br><b>All Users</b></a>
  <a class="w3-padding w3-hover-black w3-tiny w3-center" href="#" onclick="document.getElementById('newList').style.display='block'"><i class="material-icons w3-xxlarge w3-text-white w3-center">create</i><br><b>Create New List</b></a>
  <div class="accordation">
  	 <a class="w3-padding w3-hover-black w3-tiny w3-center" onclick="myexpand()" href="#"><i class="material-icons w3-xxlarge w3-text-white w3-center">view_list</i><br><b>My Lists</b></a>
  	 <div id="demoAcc" class="w3-accordion-content w3-theme-l5 w3-card-4">
      <a class="w3-padding w3-hover-black  w3-center" href="#">List 1</a>
      <a class="w3-padding w3-hover-black  w3-center" href="#">List 2</a>
      <a class="w3-padding w3-hover-black  w3-center" href="#">List 3</a>
    </div>
  </div> 
</nav>

<div class="w3-container w3-padding w3-center w3-black" id="header">
<h1>CauseCode-CRM Assignment</h1>	
</div>

<div class="w3-card-2 w3-padding w3-margin-2 w3-right" id="content" style="width:1210px">
<div class="w3-container w3-theme">
</div>	
 	<table class="w3-table-all w3-padding w3-margin" ng-app="CRM" ng-controller="admin">
		<thead>
			<tr class="w3-theme-l1 w3-text-white">
				<th></th>
				<th class="w3-text-white">First Name</th>
				<th class="w3-text-white">Last Name</th>
				<th class="w3-text-white">Experience</th>
				<th class="w3-text-white">Location</th>
				<th class="w3-text-white">Email</th>
			</tr>
		</thead>
		<tr class="w3-center w3-hover-black" id="ele1" ng-repeat="x in names" onclick="myselect()">
			<td><input type="checkbox" class="w3-check" id="row1" ng-model="chckbox"></td>
			<td>{{ x.f_name }}</td>
			<td>{{ x.l_name }}</td>
    		<td>{{ x.experience }}</td>
    		<td>{{ x.location }}</td>
    		<td>{{ x.email }}</td>
		</tr>
	</table>
</div>
</div>

<div id="newList" class="w3-modal">
  <div class="w3-modal-content w3-card-8">
    <header class="w3-container w3-theme-l3 w3-padding"> 
      <span onclick="document.getElementById('newList').style.display='none'" 
      class="w3-closebtn">&times;</span>
      <h4>Create New List</h4>
    </header>
    <div class="w3-container w3-center w3-padding">
      <form>
      	<input type="text" class="w3-input w3-text-blue" value="My List" name="myList" id="list">
      	<input type="submit" class="w3-btn w3-margin" value="SAVE" ng-controller="save" ng-click="expression">
      </form>
    </div>
  </div>
  <script>
var app = angular.module('CRM', []);
app.controller('admin', function($scope, $http) {
    $http.get("http://127.0.0.1/CauseCode/users.php")
    .then(function (response) {$scope.names = response.data.records;});
});



function myexpand() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d5";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d5", "");
    }
}

document.getElementById("ele1").addEventListener("click", myselect);

function myselect() {
  
  if(document.getElementById("row1").checked){
  	document.getElementById("row1").checked =false;
  }
  else{
  	document.getElementById("row1").checked =true;
  }
}






</script>

</body>
</html>