<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body class="w3-container">

<h2 class="w3-container w3-center w3-padding"><b>CauseCode Technologies</b></h2>

<div class="w3-card-2" style="width:750px;margin-left:275px;">

<div class="w3-container w3-padding w3-khaki">
  <h4 class="w3-center">Input Form</h4>
</div>

<form class="w3-container" action="form.php" method="GET">

<p>

<input class="w3-input" type="text" name="fname" required>
<label class="w3-label w3-validate">First Name</label>
</p>

<p>      
<input class="w3-input" type="text" name="lname" required>
<label class="w3-label w3-validate">Last Name</label>
</p>
<p>

<input class="w3-input" type="number" name="exp" min="0" required>
<label class="w3-label w3-validate">Experience</label>
</p>

<p>      
<input class="w3-input" type="email" ng-model="email" name="email" required>
<label class="w3-label w3-validate">Email</label></p>

<p>
<input class="w3-input" type="text" name="loc" required>
<label class="w3-label w3-validate">Location</label></p>
<p>
<b><input type="submit" name="SUBMIT" value="SUBMIT" class="w3-btn w3-khaki w3-round w3-display-bottom-mid csubmit" style="margin-left:300px;margin-bottom:50px;"></b></p>
</form>

</div>
</body>
</html> 
